// color variants
$main-color: #282c34;
$dark-green: #1f3642;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #ccd7da;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$board-to-window-ratio: 90%;
$bk-w: #eaecec;
$bk-y: #d8c2b0;
$bk-g: #919da3;
$big-font: 1rem;
$middle-font: 0.9rem;
$small-font: 0.8rem;
$tiny-font: 0.7rem;
$symbol-font: 0.6rem;
$like-red: rgb(243, 71, 71);

.addNew {
    .addButton {
        // bottom: 15%;
        right: 0;
        width: 30px;
        height: 30px;
        // padding-bottom: ;
        border: 1px solid $sub-color;
        background: $sub-color;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        transition: width 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            width: 110px;
        }
        &::before,
        &::after {
            transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
            content: '';
            position: absolute;
            height: 2px;
            width: 6px;
            top: calc(50% - 0.5px);
            background: white;
        }
        &::after {
            right: 8px;
            overflow: hidden;
            // border-radius: 2px 2px 0 0;
        }
        &::before {
            left: 8px;
            // border-radius: 1px 1px 0 0;
        }
        &:focus {
            outline: none;
        }
        &:hover .btnText {
            opacity: 1;
            &::before,
            &::after {
                width: 2px;
                // border-radius: 1px;
            }
        }
        &:hover .addIcon::before {
            left: 8px;
            height: 2px;
            top: calc(50% - 0.5px);
        }
        &:hover .addIcon::after {
            right: 8px;
            height: 2px;
            top: calc(50% - 0.5px);
        }

        .btnText {
            opacity: 0;
            transition: opacity 0.2s;
            color: white;
        }
        .addIcon {
            &::after,
            &::before {
                transition: all 0.2s ease-in-out;
                content: '';
                position: absolute;
                height: 12px;
                width: 1px;
                top: calc(50% - 5px);
                background: white;
                overflow: hidden;
            }
            &::before {
                left: 14px;
                border-radius: 1px 1px 0 0;
            }
            &::after {
                right: 14px;
                border-radius: 1px 1px 0 0;
            }
        }
    }
}
