$big-font: 1rem;
$middle-font: 0.9rem;
$custom-black: #555555;
$dark-grey: #7f7e7e;
$dark-green: #1f3642;

.alertCover {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: $custom-black;
    .alertWrapper {
        width: 25rem;
        border-radius: 1rem;
        background-color: white;
        padding: 1.8rem 1.8rem 2rem 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: outerAni;
        animation-duration: 1s;
        @keyframes outerAni {
            0% {
                transform: translateY(-10%);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                transform: translateY(0%);
            }
        }
        .imgWrapper {
            width: 30%;
            position: relative;
            .imgOuter {
                width: 100%;
            }
            .imgInner {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                animation-name: innerAni;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
            @keyframes innerAni {
                0% {
                    transform: translateY(0%);
                }
                50% {
                    transform: translateY(-3%);
                }
                100% {
                    transform: translateY(0%);
                }
            }
        }
        .title {
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.5rem 0;
        }
        .content {
            font-size: $middle-font;
            width: 80%;
            word-wrap: break-word;
            padding-bottom: 2rem;
            text-align: center;
        }
        .buttonWrapper {
            display: flex;
            justify-content: center;
            margin-top: auto;
            font-size: $middle-font;
            .button {
                background-color: $dark-green;
                border-radius: 0.3rem;
                color: white;
                margin: 0 0.5rem;
                padding: 0.2rem 1rem;
                cursor: pointer;
                border: 1px solid $dark-green;
                transition: all 0.2s ease-in-out;
                &:hover {
                    font-weight: 500;
                    background-color: transparent;
                    color: $dark-green;
                }
            }
        }
    }
}

@media (max-width: 900px) {
}
@media (max-width: 600px) {
    .alertCover {
        .alertWrapper {
            padding: 1.3rem 1.3rem 1.5rem 1.3rem;
            width: 70%;
            min-width: 14rem;
            .title {
                font-size: 1.2rem;
            }
            .buttonWrapper,
            .content {
                font-size: 0.8rem;
            }
            .content {
                padding-bottom: 1.5rem;
            }
        }
    }
}
