// color variants
$main-color: #282c34;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #ccd7da;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$dark-green: #1f3642;
$board-to-window-ratio: 90%;
$bk-w: #eeeeee;
$bk-y: #f5dfcd;
$bk-g: #9aa3a8;
$big-font: 1rem;
$middle-font: 0.9rem;
$small-font: 0.8rem;
$tiny-font: 0.7rem;
$symbol-font: 0.6rem;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
        'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    overflow: hidden;
}

.Canvas {
    height: 100vh;
    background-color: $assist-color-light;
    position: relative;
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.banner {
    height: 10%;
    z-index: 200;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
// background
.backImages {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.backImg {
    position: absolute;
    z-index: -1;
    // opacity: 0.5;
    overflow: hidden;
}
.backY1 {
    width: 20%;
    top: 60%;
    left: -10%;
    transform: rotate(-40deg);
}
.backY2 {
    width: 15%;
    top: -5%;
    left: 45%;
    transform: rotate(10deg);
}
.backG1 {
    width: 25%;
    top: 3%;
    left: 88%;
    transform: rotate(120deg);
}
.backG2 {
    width: 17%;
    top: 67%;
    left: 15%;
}
.backW1 {
    width: 15%;
    top: 2%;
    left: 70%;
    transform: rotate(245deg);
}
.backW2 {
    left: -5%;
    width: 25%;
    top: -5%;
    transform: rotate(-180deg);
}
.backW3 {
    left: 88%;
    width: 20%;
    top: 68%;
}
.backW4 {
    left: 50%;
    width: 20%;
    top: 75%;
}
.backL1 {
    width: 25%;
    left: 25%;
    top: -5%;
    transform: rotate(180deg);
    & path {
        fill: none;
    }
}
.backL2 {
    width: 25%;
    top: 60%;
    left: 68%;
}
.backL1 path,
.backL2 path {
    stroke: #919da3;
    stroke-width: 6px;
}
.backW1 path,
.backW2 path,
.backW3 path,
.backW4 path {
    stroke: none;
    fill: $bk-w;
}
.backY1 path,
.backY2 path {
    stroke: none;
    fill: $bk-y;
}
.backG1 path,
.backG2 path {
    stroke: none;
    fill: $bk-g;
}
// mainBoard
.mainBoard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 90%;
    width: 100vw;
}
.drawingAreaBox {
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: $light-grey;
    border-radius: 3rem 0 0 0;
    box-shadow: 0 0 8px 2px rgb(88, 88, 88) inset;
    border: 2px solid rgb(161, 161, 161);
    box-sizing: border-box;
    // width: 100%;
}
.componentsSelection {
    z-index: 1;
    display: flex;
    padding: 0.8rem 0 0 0.8rem;
    box-sizing: border-box;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    width: 100%;
}
.canvasWrapper {
    justify-content: center;
    position: absolute;
    max-width: 95%;
    max-height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem 0rem;
}
.ratioSelect {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    border: 1px solid $dark-grey;
    border-radius: 0.2rem;
    background-color: transparent;
    padding: 0.2rem 0.5rem 0.2rem 0.6rem;
    color: $custom-black;
    cursor: pointer;
}
// canvas
.drawingArea {
    // border: 1px solid $custom-black;
    position: absolute;
    box-shadow: 0 0 3px 1px $middle-grey;
}
// active nav bar
.componentsNavLeft,
.componentsNavRight {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0.2rem 0 1rem 0;
}
.componentsNavRight {
    flex-wrap: wrap;
    width: 50%;
    padding-right: 0.8rem;
    justify-content: flex-end;
    position: fixed;
    right: 0;
}
.componentsNavLeft {
    flex-wrap: wrap;
    width: 42%;
    padding-left: 0.8rem;
    justify-content: flex-start;
    z-index: 1;
}
.activeButton {
    pointer-events: bounding-box;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.2rem;
    margin: 0 0.3rem;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 5px;
}
.activeButton:hover {
    opacity: 0.6;
    cursor: pointer;
}
.layerButton,
.alignButton {
    width: 1.6rem;
    height: 1.6rem;
}
.layer,
.align,
.selectAll,
.redo,
.undo,
.trashCan,
.cut,
.paste {
    position: relative;

    display: flex;
    height: 100%;
}
.layerChoosingBox,
.alignChoosingBox {
    position: absolute;
    top: 2rem;
    right: 0;

    display: flex;
}

// specific nav
.specificNav {
    display: flex;
    align-items: center;
}
.textNav {
    flex-wrap: wrap;
}
.specificButton {
    display: flex;
    font-size: $middle-font;
    color: $custom-black;
    font-weight: 450;
    cursor: pointer;
    align-items: center;
    padding: 0.2rem;
    margin: 0 0.3rem;
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 5px;
}
.specificButton:hover {
    opacity: 0.6;
}
// specific nav - color choosing box
.colorChoosingBox {
    position: relative;
    display: inline-block;
    margin: 0 0.8rem 0 0.4rem;
    cursor: pointer;
}
.borderChoosing {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
.chrome-picker {
    position: absolute;

    top: 2rem;
    left: 0;
    padding: 0.3rem 0.3rem 0;
}
.currentColor {
    box-sizing: border-box;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 0.8px $custom-black;
    cursor: pointer;
}
.currentBorderColor {
    border: 3.5px solid white;
    box-shadow: 0 0 0 1px white inset, 0 0 0 1.5px $custom-black inset, 0 0 0 1px white,
        0 0 0 1.5px $custom-black;
}
// specific nav - text
.textOptionSans {
    font-family: 'sans-serif';
}
.textOptionNotoSans {
    font-family: 'Noto Sans TC';
}
.textOptionNotoSerif {
    font-family: 'Noto Serif TC';
}
.textSizeOuter {
    width: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0rem;
}
.textSizeSelect {
    width: 100%;
    height: 100%;
}
.textSizeInput {
    position: absolute;
    width: 40%;
    height: 70%;
    border: none;
    left: 0.7rem;
    background-color: $light-grey;
    color: $custom-black;
    font-weight: 450;
}
input:focus {
    outline: none;
}
.specificNav select {
    background-color: transparent;
    border-radius: 4px;
    font-size: $small-font;
    margin: 0.1rem 0.4rem;
    margin-left: 0.2rem;
    border: 1px solid $middle-grey;
}
.textIcon {
    // margin: 0 0.3rem;
    weight: 1.4rem;
    height: 1.4rem;
}
.textButtonActive {
    border-radius: 3px;
    background: rgb(214, 214, 214);
    box-shadow: 0 0 1px 1px rgb(180, 180, 180) inset;
}
// specific nav - text - space
.spaceBoxOuter,
.sizeBoxOuter {
    position: relative;
    font-size: $small-font;
}
.spaceBoxes,
.SizeBoxes {
    position: absolute;
    display: flex;
    top: 1.8rem;
    left: 0.5rem;
    background-color: white;
    border: 1px solid $middle-grey;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 $middle-grey;
    padding: 0.5rem 0;
    color: $custom-black;
}
.SizeBoxes {
    padding: 1.2rem 1.2rem;
    flex-direction: row;
}
.spaceBox {
    display: flex;
    padding: 0.6rem 1.2rem;
}
.spaceBoxText,
.sizeBoxText {
    text-align: left;
    width: 2.6rem;
}
.rangeValue {
    padding-left: 0.8rem;
}
input[type='range'] {
    -webkit-appearance: none !important;
    width: 8rem;
    height: 4px;
    background-color: $light-grey;
    box-shadow: 0 0 1px 0 $custom-black;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
}
input[type='range']:hover {
    background-color: white;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 13px;
    height: 13px;
    background-color: $sub-color;
    border-radius: 100%;
    // box-shadow: 0px 0px 3px $light-grey;
    border: 1px solid white;
    transition: all 0.3s ease;
}
input[type='range']::-webkit-slider-thumb:hover {
    background-color: #f7ba82;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 3px $sub-color;
}
input[type='range']::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px white;
}
// specific nav - img
.unfoldImgAdjustment {
    flex-direction: column;
}
.imgAdjustBox {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.imgAdjustText,
.imgAdjustValue {
    width: 3rem;
    font-size: $small-font;
    color: white;
    font-weight: 500;
}
input[type='range'].imgAdjustRange {
    height: 6px;
    background-color: white;
}
// sidebar
.sidebar {
    height: 100%;
    display: flex;
    z-index: 100;
    overflow: hidden;
    .sidebarFold {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 6rem;
        height: 100%;
        .sideButton {
            color: $custom-black;
            font-weight: 600;
            cursor: pointer;
            height: calc(100% / 8);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .sidebarIcon {
                width: 30%;
                height: 30%;
                padding: 2px;
            }
            .iconText {
                font-size: $small-font;
            }
            .iconTextB {
                color: white;
                font-weight: 600;
            }
        }
        .sideButtonChosen {
            position: relative;
            width: 100%;
            height: calc(100% / 8);
            background-color: $main-color;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                top: 100%;
                right: 0;
                width: 1.2rem;
                height: 1.2rem;
                background: radial-gradient(
                    circle farthest-side at bottom left,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0) 99%,
                    $main-color
                );
            }
            &::after {
                content: '';
                position: absolute;
                top: -1.2rem;
                right: 0;
                width: 1.2rem;
                height: 1.2rem;
                background: radial-gradient(
                    circle farthest-side at top left,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0) 99%,
                    $main-color
                );
            }
        }
        .firstButton::after {
            content: '';
            height: 0;
            width: 0;
        }
        .lastButton::before {
            content: '';
            height: 0;
        }
    }
    .sidebarUnfold {
        width: 16rem;
        margin-right: 2rem;
        border-radius: 2rem 2rem 0 0;
        background-color: $main-color;
        padding: 1.5rem;
        padding-bottom: 0;
        position: relative;
        font-weight: 500;
        font-size: $middle-font;
        height: 100%;
        // animation: fadeIn 0.1s ease-in-out;
        // animation-fill-mode: both;
        // @keyframes fadeIn {
        //     0% {
        //         opacity: 0;
        //         width: 0;
        //     }

        //     100% {
        //         opacity: 1;
        //         width: 16rem;
        //     }
        // }

        .sidebarUnfoldInner {
            width: 100%;
            height: 95%;
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            align-items: flex-start;
            align-content: flex-start;

            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $middle-grey;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: $dark-grey;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $middle-grey;
            }
        }
    }
    .firstUnfold {
        border-radius: 0 2rem 0 0;
    }
    // if chosen is the first one
}

.unfoldItem {
    color: white;
    width: 45%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin: 3% 2%;
    .unfoldItemImg {
        width: 100%;
        height: 100%;
        &:hover {
            opacity: 0.6;
        }
    }
}
.unfoldItem:hover {
    opacity: 0.6;
}
.unfoldItemImgWrapper {
    cursor: pointer;
    .close {
        font-size: $tiny-font;
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        background-color: white;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        color: $custom-black;
        border: 1px solid $custom-black;
        display: flex;
        justify-content: center;
        line-height: 1rem;
        cursor: pointer;
        &:hover {
            background-color: $sub-color;
            color: white;
        }
    }
}
.sidebarUnfoldSubtitle {
    border: none;
    color: white;
    width: 100%;
    height: 1rem;
    text-align: left;
    padding-top: 0.5rem;
}
.unfoldImgWrapper,
.colorChartWrapper {
    .toggleSubtitle {
        border: none;
        color: white;
        width: 100%;
        height: 1rem;
        text-align: left;
        padding: 0.5rem 0.3rem;
        display: flex;
        .toggleButton {
            margin-left: auto;
            border: 1px solid white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            font-size: $tiny-font;
            line-height: 1rem;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}
.sidebarCloseButton {
    display: flex;
    align-items: center;
    font-size: $symbol-font;
    font-weight: 900;
    color: $light-grey;
    border-radius: 0 5px 5px 0;
    width: 1rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: $main-color;
    position: absolute;
    right: -1rem;
    cursor: pointer;
}
// sidebar - text
.sidebarUnfoldText * {
    width: 90%;
    border: none;
    justify-content: start;
    padding: 0.3rem 0.6rem;
    margin-bottom: 3.5%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}
.addTextBig {
    font-size: 36px;
    font-weight: 500;
}
.addTextMiddle {
    font-size: 28px;
}
.addTextSmall {
    font-size: 18px;
}
// sidebar - shape
.sidebarUnfoldShape * {
    border: none;
}
// sidebar - line
.sidebarUnfoldLine {
    justify-content: center;
}
.itemLine {
    width: 80%;
    border: none;
    padding: 0.5rem 0;
}
// sidebar - upload
.uploadLabel {
    width: 100%;
    padding: 0.3rem 0;
    background-color: $sub-color;
    color: $main-color;
    border: none;
    border-radius: 3px;
}
.uploadInput {
    display: none;
}
.progressWrapper {
    color: $light-grey;
    width: 100%;
    padding: 1rem 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    progress[value] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 1rem;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        border-radius: 3px;
    }
    progress[value]::-webkit-progress-value {
        background-color: $sub-color;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    div {
        font-size: $symbol-font;
        padding: 0.4rem 0;
    }
}
//sidebar - background
.currentBackground {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1rem;
    position: relative;
}
.backgroundTitleOuter {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.backgroundCheckboxAdd {
    color: white;
    border-radius: 100%;
    border: 1.5px solid white;
    width: 0.9rem;
    height: 0.9rem;
    font-weight: 900;
    font-size: $symbol-font;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    position: absolute;
    right: 1.1rem;
    cursor: pointer;
}
.backgroundCheckboxMinus {
    color: $main-color;
    background-color: white;
    border-radius: 100%;
    border: 1.5px solid white;
    width: 0.9rem;
    height: 0.9rem;
    font-weight: 600;
    font-size: $symbol-font;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    position: absolute;
    right: 1.1rem;
    cursor: pointer;
}
.backgroundTitle {
    justify-content: flex-start;
    padding-bottom: 0.5rem;
}
.backgroundColorCube {
    border-radius: 100%;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.8rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.currentColorCube {
    position: relative;
    &::before {
        content: '點擊選取更多顏色';
        cursor: default;
        font-size: $small-font;
        color: white;
        position: absolute;
        width: 10rem;
        display: flex;
        overflow: hidden;
        left: 3rem;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        visibility: hidden;
        transition: opacity 0.4s ease-in-out;
    }
    &:hover::before {
        visibility: visible;
        opacity: 1;
    }
}
.nonColor {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    &::after {
        content: '';
        background-color: red;
        position: absolute;
        width: 100%;
        height: 1px;
        transform: rotate(45deg);
    }
}
.backgroundColorChart {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.colorChartUnfold {
    height: auto;
    animation-name: colorChartUnfold;
    animation-duration: 2s;
}
@keyframes colorChartUnfold {
    0% {
        height: 0;
    }
    100% {
        height: 12rem;
    }
}
.colorChartFold {
    height: 0;
    animation-name: colorChartFold;
    animation-duration: 2s;
}
@keyframes colorChartFold {
    0% {
        height: 12rem;
    }
    100% {
        height: 0;
    }
}
.backgroundPicker {
    top: 7rem;
    left: 1.8rem;
    z-index: 1;
}
// specific nav
.resetFilterButton {
    font-size: $small-font;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.2rem 0;
    margin: 1rem auto 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    width: 60%;
    cursor: pointer;
}
.componentsNavRightPartial {
    display: flex;
    height: 100%;
}
// banner
.bannerIcons {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1.5rem;
    cursor: pointer;
    position: relative;
    &:hover {
        opacity: 0.6;
    }
}
.bannerLogo {
    height: 100%;
    height: 2rem;
    width: 2rem;
}
.logoWrapper {
    height: 2rem;
    width: 6rem;
}
.bannerLeft {
    margin-right: auto;
    display: flex;
    align-items: center;
    & input {
        background-color: transparent;
        border: none;
        font-size: $middle-font;
        color: $main-color;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid transparent;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}
.bannerLeft input:hover {
    border: 1px solid $light-grey;
}
.inputTyping {
    border: 1px solid $light-grey;
}
.bannerRight {
    display: flex;
    align-items: center;
}
.status {
    padding: 0 1.6rem;
    font-size: $middle-font;
    color: $custom-black;
    letter-spacing: 1px;
    opacity: 0;
}
.showStatus {
    animation-name: showStatus;
    animation-duration: 3s;
}
@keyframes showStatus {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.resizeIconWrapper,
.exportIconWrapper,
.shareIconWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.statusSize {
    padding-right: 0.5rem;
}
.sizeSelection {
    position: absolute;
    top: 150%;
    right: 50%;
    color: $custom-black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 0.6rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: $middle-font;
    white-space: nowrap;
    flex: 1;
    box-shadow: 0 1px 2px 0 $middle-grey;
    text-align: left;
}
.sizeOption {
    padding: 0.6rem 0;
    display: flex;
    &:hover {
        color: $sub-color;
        cursor: pointer;
        // font-weight: 600;
    }
}
.sizeDetails {
    color: $middle-grey;
    font-size: $symbol-font;
    padding-left: 1.5rem;
    margin-left: auto;
    display: flex;
    align-items: center;
}
// banner - custom size
.customSizeWrapper {
    position: absolute;
    top: 150%;
    right: 50%;
    color: $custom-black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: $middle-font;
    white-space: nowrap;
    flex: 1;
    box-shadow: 0 1px 2px 0 $middle-grey;
}
.customSizeInputOuter {
    display: flex;
}
.customSizeInputCross {
    padding: 0 0.5rem;
}
.customSizeInputPx {
    padding-left: 0.5rem;
}
.customSizeInputOuter input {
    width: 4rem;
    border: 1px solid $middle-grey;
    border-radius: 3px;
    padding: 0.2rem;
    text-align: center;
    color: $custom-black;
}
.customSizeButton {
    margin-top: 1rem;
    border: 1px solid $middle-grey;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}

.statusSize {
    padding-left: 1.6rem;
    font-size: $middle-font;
    color: $custom-black;
    letter-spacing: 1px;
}
// banner - share
.exportWrapper,
.shareWrapper {
    position: absolute;
    top: 150%;
    right: 50%;
    color: $custom-black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 0.6rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: $middle-font;
    white-space: nowrap;
    flex: 1;
    box-shadow: 0 1px 2px 0 $middle-grey;
    text-align: left;
    & * {
        padding: 0.6rem 0;
        display: flex;
    }
}
.exportWrapper {
    & * {
        cursor: pointer;
    }
}
.shareWrapper {
    width: 25rem;
    cursor: default;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    .mainTitle {
        font-size: $middle-font;
        font-weight: 500;
        padding: 1rem 0 1rem 0.1rem;
        width: 100%;
    }
    input {
        padding: 0.3rem 0.5rem;
        color: $custom-black;
        width: 100%;
        background-color: $light-grey;
        border: 1px solid $middle-grey;
    }
    .hint {
        font-size: $tiny-font;
        padding: 0.6rem 0 0.5rem 0.2rem;
        margin-right: auto;
    }
    .copy {
        background-color: $sub-color;
        color: white;
        font-weight: 500;
        border-radius: 0.2rem;
        padding: 0.2rem 0;
        width: 5rem;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: $small-font;
        margin: 0.7rem 0 auto 0;
        &::after {
            content: '複製';
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .copyComplete {
        background-color: $dark-green;
        animation-name: copyComplete;
        animation-duration: 200ms;
        cursor: default;
        &::after {
            content: '✓ 完成';
        }
        &:hover {
            opacity: 1;
        }
    }
    @keyframes copyComplete {
        0% {
            background-color: $sub-color;
        }
        100% {
            background-color: $dark-green;
        }
    }
}

//sidebar - waterfall
.sidebarUnfoldSticker,
.backImgChart,
.sidebarUnfoldUpload,
.sidebarUnfoldSample,
.unfoldImgWrapper {
    padding-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    &::after {
        content: '';
        flex-grow: 999;
        min-width: 200px;
        height: 0;
    }
    .unfoldItemGalleryWrapper {
        position: relative;
        display: block;
        height: 5rem;
        flex-grow: 1;
        justify-content: space-between;
        width: 40%;
        margin: 2% 2%;
        overflow: hidden;
        border: 1px solid white;
        background-color: rgba(112, 112, 112, 0.6);
        .unfoldItemGallery {
            margin: 0;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            min-width: 100%;
            vertical-align: bottom;
        }
    }
}
.unfoldImgWrapper {
    color: #fff;
    transition: max-height 0.5s ease-in-out;
    max-height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    &::after {
        content: '';
        background-image: none;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }
}
.unfoldImgWrapperToggle {
    transition: max-height 0.5s ease-in-out;
    max-height: 10rem;
    &::after {
        content: '';
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        box-sizing: border-box;
        z-index: 1;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(40, 44, 52, 0), rgba(40, 44, 52, 1) 80%);
        width: 100%;
        height: 0.5em;
        opacity: 1;
    }
}
.sidebarUnfoldImg {
    .categoryTitle {
        width: 100%;
        color: white;
    }
}
.sidebarUnfoldUpload {
    position: relative;
    .uploadCover {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(40, 44, 52, 0.9);
        border-radius: 1rem 1rem 0 0;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        flex-direction: column;
        .uploadIcon {
            width: 2.5rem;
            height: 2.5rem;
        }
        span {
            font-size: $tiny-font;

            color: rgba(255, 255, 255, 0.7);
            padding: 0.3rem 0 8rem 0;
        }
    }
}
// media query
@media (max-width: 900px) {
    .textSizeInput {
        width: 30%;
    }
}
@media (max-width: 700px) {
}
