// color variants
$main-color: #282c34;
$dark-green: #1f3642;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #ccd7da;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$board-to-window-ratio: 90%;
$bk-w: #eaecec;
$bk-y: #d8c2b0;
$bk-g: #919da3;

.bannerWrapper {
    display: flex;
    justify-content: center;
    height: 3rem;
    border-bottom: 1px solid $middle-grey;
    padding: 1rem 0;
    .banner {
        width: 70%;
        display: flex;
        color: $custom-black;
        align-items: center;
        .button {
            padding: 0.3rem 1rem;
            margin-left: 1.5rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
    & .logo {
        height: 3rem;
    }
    .leftNav {
        margin-right: auto;
        display: flex;
        font-size: 0.9rem;
        padding: 0 1rem;
        color: $dark-grey;
        div {
            padding: 0 1.5rem;
            cursor: pointer;
        }
        .navChosen {
            color: $sub-color;
            font-weight: 500;
            position: relative;
            &::before {
                content: '';
                width: 15%;
                height: 105%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1.5px solid $sub-color;
            }
        }
    }
}

.mainWrapper {
    display: flex;
    justify-content: center;

    .main {
        width: 70%;
        display: flex;
        justify-content: space-around;
        color: $dark-grey;
        flex-direction: column;

        .memberDetails {
            text-align: center;
            margin: 2rem 0 3rem 0;

            .memberPhoto {
                background-color: $main-color;
                border-radius: 100%;
                width: 5rem;
                height: 5rem;
                margin: 1rem auto;
            }
            .otherDetails {
                padding: 0.2rem 0;
                color: $custom-black;
            }
        }
        .canvasFiles {
            display: flex;
            flex-wrap: wrap;

            .fileWrapper,
            .addNew {
                margin: 1%;
            }
            .file,
            .addNew {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $light-grey;
                border-radius: 1rem;
                font-size: 1rem;
                cursor: pointer;
                overflow: hidden;
                height: 10rem;
                box-shadow: 1px 1px 5px 0 $custom-black;
                position: relative;
                flex-direction: column;
                // &::after {
                //     content: '';
                //     display: block;
                //     padding-bottom: 60%; // 寬高比10:6
                // }
                // .file:hover {
                //     box-shadow: 1px 1px 5px 0 $custom-black;
                // }
                .fileImg {
                    height: 100%;
                }
            }
            .fileTitle {
                text-align: center;
                font-size: 0.9rem;
                width: 100%;
                color: $custom-black;
                padding: 0.5rem 0;
            }
            .addNew {
                width: 15rem;
            }
        }
    }
}

.chooseNew {
    border: 1px solid $custom-black;
    border-radius: 5px;
    padding: 1rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-green;
    color: white;
    .sizeOption {
        padding: 0.6rem 0;
        display: flex;
    }
    .sizeOption:hover {
        color: $sub-color;
        cursor: pointer;
        // font-weight: 600;
    }
    .sizeDetails {
        color: $middle-grey;
        font-size: 0.6rem;
        padding-left: 1.5rem;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .chooseNewTitle {
        border-bottom: 1px solid white;
        text-align: center;
        padding-bottom: 1rem;
    }
    .sizeDetails {
        padding-left: 10rem;
    }
    .closeButton {
        font-size: 0.7rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.5;
        }
    }
}
