// color variants
$main-color: #282c34;
$dark-green: #1f3642;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #ccd7da;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$board-to-window-ratio: 90%;
$bk-w: #eaecec;
$bk-y: #d8c2b0;
$bk-g: #919da3;
$big-font: 1rem;
$middle-font: 0.9rem;
$small-font: 0.8rem;
$tiny-font: 0.7rem;
$symbol-font: 0.6rem;
$like-red: rgb(243, 71, 71);

body {
    overflow: auto;
}
.bannerWrapper {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    // border-bottom: 1px solid $light-grey;
    box-shadow: 0 0px 2px 0px $middle-grey;
    padding: 1rem 0;
    background-color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    .banner {
        width: 70%;
        display: flex;
        color: $custom-black;
        align-items: center;
        .signWrapper {
            // padding: 0.3rem 1rem;
            margin-left: 1rem;
            font-weight: 500;
            cursor: pointer;
            // border: 1px solid red;
            border-radius: 100%;
            height: 1.5rem;
            width: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover {
                background-color: $light-grey;
            }
        }
        .down {
            height: 1.2rem;
            width: 1.2rem;
        }
        .signOut {
            display: flex;

            position: absolute;
            top: 4.2rem;
            // border: 1px solid red;
            box-shadow: 0 0 8px rgb(224, 224, 224);
            background-color: white;
            border-radius: 0.5rem;
            padding: 0.5rem;
            justify-content: center;
            right: 15%;
            font-size: $middle-font;
            font-weight: 400;
            color: $custom-black;
            .inner {
                // border: 1px solid red;
                width: 5rem;
                border-radius: 0.3rem;
                padding: 0.3rem 0.6rem;
                cursor: pointer;
            }
            &:hover .inner {
                background-color: $light-grey;
            }
        }
    }
    & .logo {
        height: 1.8rem;
        cursor: pointer;
    }
    .leftNav {
        margin-right: auto;
        display: flex;
        font-size: 0.9rem;
        padding: 0 1rem;
        div {
            padding: 0 1.5rem;
            cursor: pointer;
        }
        .navChosen {
            color: $sub-color;
            font-weight: 500;
            position: relative;
            &::before {
                content: '';
                width: 15%;
                height: 105%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1.5px solid $sub-color;
            }
        }
    }
}
.mainPage {
    padding-top: 3rem;
    .mainWrapper {
        display: flex;
        justify-content: center;
        .main {
            width: 70%;
            display: flex;
            justify-content: space-around;
            color: $dark-grey;
            flex-direction: column;
            .navTags {
                display: flex;
                margin: 0 auto;
                padding-top: 1rem;
                .tag {
                    width: 8rem;
                    text-align: center;
                    color: $dark-grey;
                    font-size: $small-font;
                    padding: 0.2rem 0;
                    font-weight: 400;
                    cursor: pointer;

                    border-radius: 2rem;
                    color: $custom-black;
                    margin: 0 0.5rem;
                    border: 1px solid $dark-grey;
                }
                .currentTag {
                    background-color: $sub-color;
                    font-weight: 700;
                    color: white;
                    border: 1px solid $sub-color;
                }
            }
            .memberDetails {
                text-align: center;
                margin-top: 2rem;
                .memberPhotoWrapper {
                    border-radius: 100%;
                    width: 8rem;
                    height: 8rem;
                    margin: 0.5rem auto;
                    overflow: hidden;
                    position: relative;
                    border: 1px solid $light-grey;
                    label {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        &:hover::before {
                            content: '';
                            background-color: rgba(255, 255, 255, 0.6);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        &:hover::after {
                            content: '';
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $light-grey;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: url('../img/src/banner/edit.svg') no-repeat center/ 2rem
                                2rem;
                        }
                    }
                    input {
                        display: none;
                    }
                }
                .memberPhoto {
                    width: 100%;
                    height: 100%;
                }
            }
            .otherDetails,
            .otherDetailsName {
                padding: 0.2rem 0;
                color: $custom-black;
            }
            .otherDetailsName {
                font-size: 1.3rem;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
        .canvasFiles {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            padding-top: 1.5rem;
            .fileWrapper,
            .fileWrapperNew {
                width: 25%;
                box-sizing: border-box;
                padding: 0 1% 1rem 1%;
                box-sizing: border-box;
                position: relative;
            }
            .file {
                display: flex;
                align-items: center;
                background-color: $light-grey;
                border-radius: 1rem;
                font-size: 1rem;
                cursor: pointer;
                overflow: hidden;
                border: 1px solid $light-grey;
                position: relative;
                flex-direction: column;
                width: 100%;
                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 75%;
                }
                .fileImg {
                    max-width: 60%;
                    position: absolute;
                    top: 10%;
                    box-shadow: 2px 2px 4px 0 $middle-grey;
                    border-radius: 15px;
                }
            }
            .fileWrapperNew {
                margin-right: auto;
                .addNew {
                    border: 1px solid $light-grey;
                    width: 100%;
                    background-color: $light-grey;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.5rem;
                    cursor: pointer;
                    &::after {
                        content: '';
                        display: block;
                        padding-bottom: 75%;
                    }
                }
            }
            .fileTitle {
                text-align: center;
                font-size: 0.9rem;
                width: 100%;
                color: $custom-black;
                padding: 0.5rem 0;
            }
        }
    }
}

.chooseNew {
    border: 1px solid $custom-black;
    border-radius: 5px;
    padding: 1rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-green;
    color: white;
    .sizeOption {
        padding: 0.6rem 0;
        display: flex;
    }
    .sizeOption:hover {
        color: $sub-color;
        cursor: pointer;
        // font-weight: 600;
    }
    .sizeDetails {
        color: $middle-grey;
        font-size: 0.6rem;
        padding-left: 1.5rem;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .chooseNewTitle {
        border-bottom: 1px solid white;
        text-align: center;
        padding-bottom: 1rem;
    }
    .sizeDetails {
        padding-left: 10rem;
    }
    .closeButton {
        font-size: 0.7rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.5;
        }
    }
}
.loaderWrapper {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.smallLoader {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.smallLoader div {
    position: absolute;
    top: 41.25%;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.smallLoader div:nth-child(1) {
    left: 10%;
    animation: smallLoader1 0.6s infinite;
}
.smallLoader div:nth-child(2) {
    left: 10%;
    animation: smallLoader2 0.6s infinite;
}
.smallLoader div:nth-child(3) {
    left: 40%;
    animation: smallLoader2 0.6s infinite;
}
.smallLoader div:nth-child(4) {
    left: 70%;
    animation: smallLoader3 0.6s infinite;
}
@keyframes smallLoader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes smallLoader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes smallLoader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12px, 0);
    }
}

.explore {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    .exploreBanner {
        display: flex;
        width: 70%;
        padding: 3rem 1rem 4rem 1rem;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            font-size: 2rem;
            font-weight: 600;
            color: $custom-black;
            line-height: 1.8;
            span {
                font-size: $small-font;
            }
        }
        .mainPic {
            width: 50%;
        }
    }
    .sidebarWrapper {
        justify-content: center;
        width: 70%;
        display: flex;
        align-items: center;
        position: relative;
        // padding: 1rem 0 1rem 0;
        .sidebar {
            display: flex;
            .tag {
                width: 8rem;
                text-align: center;
                color: $dark-grey;
                font-size: $small-font;
                padding: 0.2rem 0;
                font-weight: 400;
                cursor: pointer;
                // background-color: $custom-black;
                border-radius: 2rem;
                color: $custom-black;
                margin: 0 0.5rem;
                border: 1px solid $dark-grey;
            }
            .currentTag {
                background-color: $sub-color;
                font-weight: 700;
                color: white;
                border: 1px solid $sub-color;
            }
        }
    }
    .main {
        width: 70%;
        // padding: 1rem 0;
        position: relative;
        .rowWrapper {
            .rowTitle {
                font-weight: 400;
                color: $custom-black;
                font-size: $big-font;
                padding-left: 0.2rem;
                .titleFirst {
                    font-size: 2rem;
                    font-weight: 900;
                }
            }
            .row {
                display: flex;
                // overflow-x: scroll;
                border: 1px solid $dark-grey;
                border-radius: 1rem;
                padding: 2rem;
                margin-bottom: 2rem;
                position: relative;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

.shotsWrapper {
    padding-top: 5rem;
    height: calc(100vh - 5rem);
    .back {
        width: 100%;
        padding: 0.5rem 0 0.8rem 0;
        color: $dark-grey;
        font-size: $middle-font;
        cursor: pointer;
        &:hover {
            color: $sub-color;
        }
    }
    .shots {
        height: 95%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .leftInfo,
        .rightInfo {
            width: 48%;
            // padding: 1rem 0;
        }
        .leftInfo {
            display: flex;
            flex-direction: column;
            .fileNameWrapper {
                color: $custom-black;
                font-weight: 500;
                display: flex;
                padding: 0.5rem 0 0.5rem 0.3rem;
                .like {
                    cursor: pointer;
                    margin-left: auto;
                }
                .isLike {
                    & path {
                        fill: $like-red;
                    }
                }
            }
            img {
                width: 100%;
                border-radius: 1rem;
                box-shadow: 0 0 1px 0 $dark-grey;
            }
        }
        .rightInfo {
            font-size: $middle-font;
            color: $custom-black;
            height: 100%;
            box-sizing: content-box;
            // border: 1px solid red;
            .subTitle {
                width: 100%;
                padding-bottom: 0.2rem;
                font-weight: 800;
            }
            .userWrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: 1.5rem;
                cursor: pointer;
                .fileNumber {
                    margin-left: auto;
                }
                img {
                    border-radius: 100%;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.3rem;
                }
                .userName {
                    padding-left: 1rem;
                    font-weight: 500;
                }
            }
            .commentWrapper {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                border-bottom: 1px solid $light-grey;
                padding-bottom: 0.3rem;

                .noComment {
                    padding: 1rem 0;
                }
                // height: 60%;
                .singleComment {
                    display: flex;
                    width: 100%;
                    margin: 0.5rem 0;
                    img {
                        border-radius: 100%;
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;
                        padding: 0.3rem;
                    }
                    .commentText {
                        margin-left: 0.3rem;
                        border-radius: 1rem;
                        border: 1px solid $dark-grey;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 0.3rem 1rem;
                        font-size: $middle-font;
                        position: relative;
                        .commentUser {
                            cursor: pointer;
                            font-weight: 500;
                            padding-right: 0.5rem;
                            display: flex;
                            justify-content: center;
                            margin-right: auto;
                        }
                        .delete {
                            width: 1rem;
                            height: 1rem;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 1rem;
                            cursor: pointer;
                            &:hover path {
                                fill: $dark-grey;
                            }
                        }
                    }
                }
            }
            .myComment {
                font-size: $middle-font;
                margin: 0.5rem 0;
                display: flex;
                align-items: center;
                padding-top: 0.3rem;
                position: relative;
                padding-bottom: 1rem;
                .commentText {
                    margin-left: 0.3rem;
                    border-radius: 1rem;
                    border: 1px solid $dark-grey;
                    padding: 0.5rem 1rem;
                    flex: 1;
                    resize: none;
                    font-family: sans-serif;
                    outline: none;
                    height: 1.8rem;
                }
                .submit {
                    width: 2rem;
                    margin-left: 0.8rem;
                    background-color: $sub-color;
                    border-radius: 0.6rem;
                    padding: 0.2rem 0.5rem;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                img {
                    border-radius: 100%;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.3rem;
                }
            }
        }
    }
}
