// color variants
$main-color: #282c34;
$dark-green: #1f3642;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #ccd7da;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$board-to-window-ratio: 90%;
$bk-w: #eaecec;
$bk-y: #d8c2b0;
$bk-g: #919da3;
$big-font: 1rem;
$middle-font: 0.9rem;
$small-font: 0.8rem;
$tiny-font: 0.7rem;
$symbol-font: 0.6rem;
$like-red: rgb(243, 71, 71);

body {
    overflow: auto;
}
.bannerWrapper {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    box-shadow: 0 0px 2px 0px $middle-grey;
    padding: 1rem 0;
    background-color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    .banner {
        width: 90%;
        max-width: 1000px;
        display: flex;
        color: $custom-black;
        align-items: center;
        .memberWrapper {
            margin-left: 1rem;
            font-weight: 500;
            cursor: pointer;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid rgb(202, 202, 202);
            .memberPhoto {
                width: 100%;
                height: 100%;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .defaultWrapper {
            cursor: pointer;
            height: 30px;
            padding: 0 0.8rem;
            margin-left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            border: 1px solid $sub-color;
            border-radius: 5px;
            .defaultPhoto {
                font-weight: 500;
                color: $sub-color;
                align-items: center;
                display: flex;
                white-space: nowrap;
                font-size: $small-font;
                height: 70%;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .down {
            height: 1.2rem;
            width: 1.2rem;
        }
        .signOut {
            right: calc((100% - 1000px) / 2);
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 4.2rem;
            box-shadow: 0 0 8px rgb(224, 224, 224);
            background-color: white;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
            justify-content: center;
            font-size: $middle-font;
            font-weight: 400;
            color: $custom-black;
            .inner {
                width: 5rem;
                border-radius: 0.3rem;
                padding: 0.3rem 0.6rem;
                cursor: pointer;
                margin: 0.5rem;
                &:hover {
                    background-color: $light-grey;
                }
            }
        }
    }
    .logo {
        width: 5rem;
        // height: 1.8rem;
        cursor: pointer;
    }
    .leftNav {
        margin-right: auto;
        display: flex;
        font-size: 0.9rem;
        padding: 0 1rem;
        div {
            padding: 0 1.5rem;
            cursor: pointer;
            position: relative;
            &:hover {
                opacity: 0.8;
            }
            &:before {
                content: '';
                opacity: 0;
                width: 0%;
                transition: width 0.2s ease-in-out;
            }
            &:hover::before {
                content: '';
                opacity: 1;
                width: 15%;
                height: 105%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1.5px solid $dark-grey;
            }
        }
        .navChosen {
            color: $sub-color;
            font-weight: 500;
            &::after {
                content: '';
                width: 15%;
                height: 105%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 1.6px solid $sub-color;
            }
        }
    }
}
.mainPage {
    padding-top: 3rem;
    .mainWrapper {
        display: flex;
        justify-content: center;
        .main {
            width: 90%;
            max-width: 1000px;
            display: flex;
            justify-content: space-around;
            color: $dark-grey;
            flex-direction: column;
            .navTags {
                display: flex;
                margin: 0 auto;
                padding-top: 1rem;
                .tag {
                    width: 8rem;
                    text-align: center;
                    color: $dark-grey;
                    font-size: $small-font;
                    padding: 0.2rem 0;
                    font-weight: 400;
                    cursor: pointer;
                    border-radius: 2rem;
                    color: $custom-black;
                    margin: 0 0.5rem;
                    border: 1px solid $dark-grey;
                    &:hover {
                        color: $sub-color;
                        border-color: $sub-color;
                        // font-size: $middle-font;
                    }
                }
                .currentTag {
                    background-color: $sub-color;
                    font-weight: 700;
                    color: white;
                    border: 1px solid $sub-color;
                    &:hover {
                        color: white;
                    }
                }
            }
            .memberDetails {
                text-align: center;
                margin-top: 2rem;
                .memberPhotoWrapper {
                    border-radius: 100%;
                    width: 8rem;
                    height: 8rem;
                    margin: 0.5rem auto;
                    overflow: hidden;
                    position: relative;
                    border: 1px solid $light-grey;
                    label {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        &:hover::before {
                            content: '';
                            background-color: rgba(255, 255, 255, 0.6);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        &:hover::after {
                            content: '';
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $light-grey;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: url('../img/src/banner/edit.svg') no-repeat center/ 2rem
                                2rem;
                        }
                    }
                    input {
                        display: none;
                    }
                }
                .memberPhoto {
                    width: 100%;
                    height: 100%;
                }
            }
            .otherDetails,
            .otherDetailsName {
                padding: 0.2rem 0;
                color: $custom-black;
            }
            .otherDetailsName {
                font-size: 1.3rem;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
        .canvasLikesFiles {
            column-width: 200px;
            column-gap: 10px;
            padding-bottom: 2rem;
            padding-top: 1.5rem;
            position: relative;
            .noLike {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: $middle-font;
                padding: 3rem 0;
            }
        }

        .canvasFiles {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            padding-top: 1.5rem;
        }
        .fileWrapper,
        .fileWrapperNew {
            width: 25%;
            box-sizing: border-box;
            padding: 0 1% 1rem 1%;
            box-sizing: border-box;
            position: relative;
            animation: fadeIn 0.3s ease-in-out;
            animation-fill-mode: both;
            opacity: 0;
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        .file {
            cursor: url('../img/src/edit-cursor.svg'), auto;
            display: flex;
            align-items: center;
            background-color: $light-grey;
            border-radius: 1rem;
            font-size: 1rem;
            overflow: hidden;
            border: 1px solid $light-grey;
            position: relative;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            .hoverIconsWrapper {
                position: absolute;
                transition: 0.1s bottom;
                display: flex;
                bottom: -4rem;
                width: 100%;
                align-items: center;
                padding: 5rem 0 0.8rem 0;
                background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.6) 0%,
                    rgba(0, 0, 0, 0.1) 70%,
                    transparent 100%
                );
                color: white;
                font-size: $tiny-font;
                .hoverIcon {
                    border-radius: 0.2rem;
                    height: 1.4rem;
                    width: 1.4rem;
                    & path {
                        fill: white;
                    }
                    &:first-child {
                        margin-left: 0.7rem;
                    }
                    &:last-child {
                        margin-right: 0.8rem;
                    }
                }
                .text {
                    &:nth-child(2) {
                        margin-right: 2px;
                    }
                    &:nth-child(4) {
                        margin-right: auto;
                    }
                }
                .boxIcon {
                    box-shadow: 1px 1px 1px 0 $light-grey;
                    background-color: rgba(255, 255, 255, 0.9);
                    padding: 2px;
                    margin-right: 0.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    & path {
                        fill: $custom-black;
                    }
                    cursor: pointer;
                    &:hover {
                        transform: translate(-5%, -5%);
                    }
                }
            }
            &:hover .hoverIconsWrapper {
                display: flex;
                bottom: 0rem;
            }
            &::after {
                content: '';
                display: block;
                padding-bottom: 75%;
            }
            .fileImg {
                max-width: 60%;
                position: absolute;
                top: 10%;
                box-shadow: 2px 2px 4px 0 $middle-grey;
                border-radius: 15px;
            }
        }
        .fileWrapperNew {
            margin-right: auto;
            .addNew {
                border: 1px solid $light-grey;
                width: 100%;
                background-color: $light-grey;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                &:hover {
                    box-shadow: 2px 2px 6px 0 $dark-grey;
                    font-size: 4rem;
                }
                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 75%;
                }
            }
        }
        .titleWrapper {
            width: 100%;
            position: relative;
            font-size: 0.9rem;
            text-align: center;
            margin: 0.5rem 0;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .fileTitle {
                color: $custom-black;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .fileTitleAuthor {
                &:hover {
                    box-shadow: 0 1px 3px 0 $dark-grey;
                    cursor: text;
                    border-radius: 0.5rem;
                    transform: translate(-1%, -5%);
                }
            }
            input {
                color: $custom-black;
                box-sizing: border-box;
                width: 95%;
                height: 100%;
                border-radius: 0.8rem;
                border: 1px solid $middle-grey;
                text-align: center;
            }
        }
    }
}

.chooseNew {
    border: 1px solid $custom-black;
    border-radius: 5px;
    padding: 1rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-green;
    color: white;
    .sizeOption {
        padding: 0.6rem 0;
        display: flex;
    }
    .sizeOption:hover {
        color: $sub-color;
        cursor: pointer;
        // font-weight: 600;
    }
    .sizeDetails {
        color: $middle-grey;
        font-size: 0.6rem;
        padding-left: 1.5rem;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .chooseNewTitle {
        border-bottom: 1px solid white;
        text-align: center;
        padding-bottom: 1rem;
    }
    .sizeDetails {
        padding-left: 10rem;
    }
    .closeButton {
        font-size: 0.7rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.5;
        }
    }
}
.loaderWrapper {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.smallLoaderLike,
.smallLoader {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}
.smallLoaderLike div,
.smallLoader div {
    position: absolute;
    top: 41.25%;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background: $custom-black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.smallLoaderLike div:nth-child(1),
.smallLoader div:nth-child(1) {
    left: 10%;
    animation: smallLoader1 0.6s infinite;
}
.smallLoaderLike div:nth-child(2),
.smallLoader div:nth-child(2) {
    left: 10%;
    animation: smallLoader2 0.6s infinite;
}
.smallLoaderLike div:nth-child(3),
.smallLoader div:nth-child(3) {
    left: 40%;
    animation: smallLoader2 0.6s infinite;
}
.smallLoaderLike div:nth-child(4),
.smallLoader div:nth-child(4) {
    left: 70%;
    animation: smallLoader3 0.6s infinite;
}
.smallLoaderLike {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    top: 60%;
    // background-color: ;
    div {
        background-color: $sub-color;
    }
}
@keyframes smallLoader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes smallLoader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes smallLoader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12px, 0);
    }
}
.mainPageSmallLoader {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-top: 5rem;
}

.explore {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    .exploreBanner {
        display: flex;
        width: 90%;
        max-width: 1000px;
        padding: 3rem 1rem 4rem 1rem;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            font-size: 2rem;
            font-weight: 600;
            color: $custom-black;
            line-height: 1.8;
            span {
                font-size: $small-font;
            }
        }
        .mainPic {
            width: 50%;
        }
    }
    .filtersWrapper {
        justify-content: center;
        width: 90%;
        max-width: 1000px;
        display: flex;
        align-items: center;
        position: relative;
        // padding: 1rem 0 1rem 0;
        .filters {
            display: flex;
            .tag {
                width: 8rem;
                text-align: center;
                color: $dark-grey;
                font-size: $middle-font;
                padding: 0.3rem 0;
                font-weight: 400;
                cursor: pointer;
                border-radius: 2rem;
                color: $custom-black;
                margin: 0 0.5rem;
                border: 1px solid $dark-grey;
                transition: all 0.1s ease-in-out;
                &:hover {
                    border-color: $sub-color;
                    color: $sub-color;
                }
            }
            .currentTag {
                background-color: $sub-color;
                font-weight: 700;
                color: white;
                border: 1px solid $sub-color;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .main {
        width: 90%;
        max-width: 1000px;
        position: relative;
        padding-top: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 1.5rem;
        .rowWrapper {
            position: relative;
            width: 100%;
            .rowTitle {
                font-weight: 800;
                color: $custom-black;
                font-size: 1.6rem;
                line-height: 1.5;
                padding-left: 0.2rem;
            }
            .buttonSvg {
                background-color: white;
                position: absolute;
                top: 50%;
                width: 0.8rem;
                height: 0.8rem;
                padding: 0.4rem;
                border-radius: 100%;
                border: 1px solid $middle-grey;
                transform: translate(-50%, calc(-50% - 0.8rem));
                cursor: pointer;
                transition: background 0.2s;
                polygon {
                    fill: $middle-grey;
                }
                &:hover {
                    polygon {
                        fill: white;
                    }
                    background-color: $sub-color;
                    border: 1px solid $sub-color;
                }
            }
            .buttonR {
                left: 0;
            }
            .buttonL {
                left: 100%;
            }
            .row {
                display: flex;
                overflow-x: scroll;
                border-radius: 0.5rem;
                margin-bottom: 1%;
                margin-right: 1px;
                position: relative;
                scroll-behavior: smooth;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

.shotsWrapper {
    padding-top: 5rem;
    height: calc(100vh - 5rem);
    .back {
        width: 100%;
        padding: 0.5rem 0 0.8rem 0;
        color: $dark-grey;
        font-size: $middle-font;
        cursor: pointer;
        &:hover {
            color: $sub-color;
        }
    }
    .shots {
        height: 95%;
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .leftInfo,
        .rightInfo {
            width: 48%;
            // padding: 1rem 0;
        }
        .leftInfo {
            display: flex;
            flex-direction: column;
            .fileNameWrapper {
                color: $custom-black;
                font-weight: 500;
                display: flex;
                padding: 0.5rem 0 0.5rem 0.3rem;
                .like {
                    cursor: pointer;
                    margin-left: auto;
                }
                .isLike {
                    & path {
                        fill: $like-red;
                    }
                }
            }
            img {
                width: 100%;
                border-radius: 1rem;
                box-shadow: 0 0 1px 0 $dark-grey;
            }
        }
        .rightInfo {
            font-size: $middle-font;
            color: $custom-black;
            height: 100%;
            box-sizing: content-box;
            // border: 1px solid red;
            .subTitle {
                width: 100%;
                padding-bottom: 0.2rem;
                font-weight: 800;
            }
            .userWrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: 1.5rem;
                cursor: pointer;
                .fileNumber {
                    margin-left: auto;
                }
                img {
                    border-radius: 100%;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.3rem;
                }
                .userName {
                    padding-left: 1rem;
                    font-weight: 500;
                }
            }
            .commentWrapper {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                border-bottom: 1px solid $light-grey;
                padding-bottom: 0.3rem;
                max-height: calc(100vh - 20rem);
                &::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                }
                &::-webkit-scrollbar-button {
                    width: 0px;
                    height: 0px;
                }
                .noComment {
                    padding: 1rem 0;
                }
                // height: 60%;
                .singleComment {
                    display: flex;
                    width: 100%;
                    margin: 0.5rem 0;
                    img {
                        border-radius: 100%;
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;
                        padding: 0.3rem;
                    }
                    .commentText {
                        margin-left: 0.3rem;
                        border-radius: 1rem;
                        border: 1px solid $middle-grey;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 0.3rem 1rem;
                        font-size: $middle-font;
                        position: relative;
                        .commentUser {
                            cursor: pointer;
                            font-weight: 500;
                            padding-right: 0.5rem;
                            display: flex;
                            justify-content: center;
                            margin-right: auto;
                            align-items: center;
                            span {
                                font-size: $tiny-font;
                                font-weight: 400;
                                padding-left: 0.5rem;
                                color: $dark-grey;
                            }
                        }
                        .delete {
                            width: 1rem;
                            height: 1rem;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 1rem;
                            cursor: pointer;
                            &:hover path {
                                fill: $dark-grey;
                            }
                        }
                    }
                }
            }
            .myComment {
                font-size: $middle-font;
                margin: 0.5rem 0;
                display: flex;
                align-items: center;
                padding-top: 0.3rem;
                position: relative;
                padding-bottom: 1rem;
                .notSignIn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 0.3rem 0;
                }
                .commentText {
                    margin-left: 0.3rem;
                    border-radius: 1rem;
                    border: 1px solid $middle-grey;
                    padding: 0.5rem 1rem;
                    flex: 1;
                    resize: none;
                    font-family: sans-serif;
                    outline: none;
                    height: 1.8rem;
                }
                .submit {
                    width: 2rem;
                    margin-left: 0.8rem;
                    background-color: $sub-color;
                    border-radius: 0.6rem;
                    padding: 0.2rem 0.5rem;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                img {
                    border-radius: 100%;
                    width: 2rem;
                    height: 2rem;
                    padding: 0.3rem;
                }
            }
        }
    }
}

// media query
@media (max-width: 1000px) {
    .bannerWrapper {
        .banner {
            .signOut {
                right: 5%;
            }
        }
    }
}
@media (max-width: 900px) {
    .shotsWrapper {
        .shots {
            .rightInfo {
                .commentWrapper {
                    .singleComment {
                        .commentText {
                            font-size: 0.8rem;
                        }
                    }
                }
                .myComment {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .explore {
        .main {
            .rowWrapper {
                .rowTitle {
                    font-size: 1.4rem;
                }
            }
        }
        .exploreBanner {
            .title {
                font-size: 1.5rem;
            }
        }
    }
    .mainWrapper .main .canvasFiles {
        .fileWrapper,
        .fileWrapperNew {
            width: 33%;
        }
    }
}
@media (max-width: 600px) {
    .shotsWrapper {
        .shots {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            width: 85%;
            .back {
                width: auto;
                align-self: flex-start;
            }
            .leftInfo {
                width: 100%;

                .fileNameWrapper {
                    padding-bottom: 2rem;
                    font-size: 1rem;
                    padding-left: 0;
                }
            }
            .rightInfo {
                width: 100%;
                height: auto;
                .userWrapper {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
    .explore {
        .main {
            .rowWrapper {
                .rowTitle {
                    font-size: 1.1rem;
                    padding-left: 0;
                }
            }
        }
        .exploreBanner {
            padding: 2.5rem 1rem 3rem 1rem;
            .title {
                font-size: 1.3rem;
                width: 60%;
            }
            .mainPic {
                width: 40%;
            }
        }
        .filtersWrapper {
            .filters {
                .tag {
                    font-size: 0.8rem;
                    padding: 0.2rem 0;
                    width: 7rem;
                }
            }
        }
        .main {
            padding-top: 0.8rem;
        }
    }
    .mainPage .mainWrapper .main {
        .otherDetailsName {
            font-size: 1.1rem;
            padding: 0.1rem 0;
        }
        .otherDetails {
            font-size: 0.9rem;
        }
        .canvasFiles {
            .fileWrapper,
            .fileWrapperNew {
                width: 50%;
                padding-bottom: 0.2rem;
                .titleWrapper {
                    font-size: 0.8rem;
                    margin-top: 0.2rem;
                    input {
                        font-size: 0.7rem;
                        height: 95%;
                    }
                }
                .file {
                    .hoverIconsWrapper {
                        bottom: 0;
                        padding: 5rem 0 0.4rem 0;
                        opacity: 0.9;
                        .hoverIcon {
                            &:first-child {
                                margin-left: 0.4rem;
                            }
                        }
                        .boxIcon {
                            width: 1.1rem;
                            height: 1.1rem;
                        }
                    }
                }
            }
        }
    }
    .bannerWrapper {
        .leftNav {
            padding: 0 0.6rem;
            div {
                padding: 0 0.6rem;
            }
        }
    }
}
@media (max-width: 450px) {
    .shotsWrapper {
        .shots {
            .leftInfo {
                .fileNameWrapper {
                    font-size: 0.9rem;
                }
            }
            .rightInfo {
                .userWrapper {
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    .userName {
                        font-size: 0.8rem;
                        padding-left: 0.8rem;
                    }
                    .fileNumber {
                        font-size: 0.7rem;
                    }
                }
                .subTitle {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .myComment {
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    .commentText {
                        margin-left: 0.2rem;
                        padding: 0.3rem 0.8rem;
                        .commentUser {
                            span {
                                font-size: 0.6rem;
                            }
                        }
                    }
                    .submit {
                        width: 1.5rem;
                        font-size: 0.7rem;
                        margin-left: 0.4rem;
                    }
                }
                .commentWrapper {
                    .singleComment {
                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        .commentText {
                            margin-left: 0.2rem;
                            padding: 0.3rem 0.8rem;
                            .delete {
                                right: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .mainWrapper .main .canvasFiles {
        .fileWrapper,
        .fileWrapperNew {
            width: 100%;
        }
    }
    .bannerWrapper {
        .leftNav {
            font-size: 0.8rem;
            div {
                padding: 0 0.4rem;
            }
        }
        .banner {
            .logo {
                width: 4.5rem;
            }
            .memberWrapper {
                margin-left: 0.5rem;
                width: 25px;
                height: 25px;
            }
        }
    }
    .explore {
        .exploreBanner {
            padding: 1.5rem 1rem 2rem 1rem;
            .title {
                font-size: 1rem;
            }
        }
        .filtersWrapper {
            .filters {
                .tag {
                    margin: 0 1%;
                    font-size: 0.7rem;
                    width: auto;
                    white-space: nowrap;
                    padding: 0.2rem 0.5rem;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .mainPage .mainPage .main .canvasFiles {
        .fileWrapper,
        .fileWrapperNew {
            width: 100%;
        }
    }
}
