// color variants
$main-color: #282c34;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #dde6e8;
$light-grey: #ebebeb;
$middle-grey: #acacac;
$dark-grey: #7f7e7e;
$custom-black: #555555;
$board-to-window-ratio: 90%;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@400;700&display=swap');

* {
    // border: 1px solid red;
    // color:#db2316
}

// basic layouts
body {
    height: 100vh;
    background-color: #282c34;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
        'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.App {
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    height: 10%;
    z-index: 999;
    color: white;
}

// mainBoard
.mainBoard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.drawingAreaBox {
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: $light-grey;
    border-radius: 3rem 0 0 0;
}
.componentsSelection {
    width: 100%;
    display: flex;
    padding: 1rem 1% 0 2%;
    box-sizing: border-box;
    align-items: center;
}
.canvasWrapper {
    justify-content: center;
    position: absolute;
    max-width: 95%;
    max-height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem 0;
}
.ratioSelect {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    border: 1px solid $dark-grey;
    border-radius: 0.2rem;
    background-color: transparent;
    padding: 0.2rem 0.5rem 0.2rem 0.6rem;
    color: $custom-black;
    cursor: pointer;
}
// canvas
.drawingArea {
    border: 1px solid $custom-black;
    position: absolute;
    box-shadow: 0 1px 2px 0px $dark-grey;
}
// active nav bar
.componentsNavLeft,
.componentsNavRight {
    display: flex;
    align-items: center;
    height: 1.5rem;
}
.componentsNavRight {
    flex-wrap: wrap;
    width: 35%;
    padding-right: 0.5rem;
    justify-content: flex-end;
}
.componentsNavLeft {
    flex-wrap: wrap;
    width: 65%;
    padding-left: 0.5rem;
    justify-content: flex-start;
}
.activeButton {
    margin-right: 0.8rem;
    pointer-events: bounding-box;
    width: 1.6rem;
    height: 1.6rem;
}
.activeButton:hover {
    opacity: 0.6;
    cursor: pointer;
}
.layerButton,
.alignButton {
    width: 1.6rem;
    height: 1.6rem;
}
.layer,
.align {
    position: relative;
    z-index: 555;
    display: inline-block;
}
.layerChoosingBox,
.alignChoosingBox {
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 555;
    display: flex;
}

// specific nav
.specificNav {
    display: flex;
}
.specificButton {
    display: flex;
    font-size: 0.9rem;
    margin-left: 0.6rem;
    padding: 0 0.3rem;
    color: $custom-black;
    font-weight: 450;
    cursor: pointer;
    align-items: center;
}
.specificButton:hover {
    opacity: 0.6;
}
// specific nav - color choosing box
.colorChoosingBox {
    position: relative;
    display: inline-block;
    margin: 0 0.8rem 0 0.8rem;
    cursor: pointer;
}
.chrome-picker {
    position: absolute;
    z-index: 555;
    top: 2rem;
    left: 0;
    padding: 0.3rem 0.3rem 0;
}
.currentColor {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    border: 3px solid white;
    box-shadow: 0 0 2px $custom-black;
}
// specific nav - text
.textOptionSans {
    font-family: 'sans-serif';
}
.textOptionNotoSans {
    font-family: 'Noto Sans TC';
}
.textOptionNotoSerif {
    font-family: 'Noto Serif TC';
}
.textSizeOuter {
    width: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 0.4rem;
    margin-right: 0.2rem;
}
.textSizeSelect {
    width: 100%;
    height: 100%;
}
.textSizeInput {
    position: absolute;
    width: 40%;
    height: 70%;
    border: none;
    left: 0.7rem;
    background-color: $light-grey;
    color: $custom-black;
    font-weight: 450;
}
input:focus {
    outline: none;
}
.specificNav select {
    background-color: transparent;
    border-radius: 4px;
    font-size: 0.8rem;
    margin: 0.1rem 0.4rem;
    margin-left: 0.2rem;
    border: 1px solid $middle-grey;
}
.textIcon {
    margin: 0 0.3rem;
    weight: 1.4rem;
    height: 1.4rem;
}
.textButtonActive {
    border-radius: 3px;
    background: rgb(214, 214, 214);
    box-shadow: 0 0 1px 1px rgb(180, 180, 180) inset;
}
// specific nav - text - space
.spaceBoxOuter {
    position: relative;
    font-size: 0.8rem;
}
.spaceBoxes {
    position: absolute;
    display: flex;
    top: 1.8rem;
    left: 0.5rem;
    z-index: 555;
    background-color: white;
    border: 1px solid $middle-grey;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 $middle-grey;
    padding: 0.5rem 0;
    color: $custom-black;
}
.spaceBox {
    display: flex;
    padding: 0.6rem 1.2rem;
}
.spaceBoxText {
    text-align: left;
    width: 2.6rem;
}
.rangeValue {
    padding-left: 0.8rem;
}
input[type='range'] {
    -webkit-appearance: none !important;
    width: 8rem;
    height: 4px;
    background-color: $light-grey;
    box-shadow: 0 0 1px 0 $custom-black;
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s ease;
}
input[type='range']:hover {
    background-color: white;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 13px;
    height: 13px;
    background-color: $sub-color;
    border-radius: 100%;
    box-shadow: 0px 0px 3px $light-grey;
    transition: all 0.3s ease;
}
input[type='range']::-webkit-slider-thumb:hover {
    background-color: #f7ba82;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 3px $sub-color;
}
input[type='range']::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px white;
}
// specific nav - img
.unfoldImgAdjustment {
    flex-direction: column;
}
.imgAdjustBox {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.imgAdjustText,
.imgAdjustValue {
    width: 3rem;
    font-size: 0.8rem;
    color: $custom-black;
    font-weight: 500;
}
input[type='range'].imgAdjustRange {
    height: 6px;
    background-color: white;
}
// sidebar
.sidebar {
    height: 100%;
    display: flex;
    z-index: 999;
    //     border: 1px solid red;
}
.sidebarFold {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 6rem;
}
.sidebarUnfold {
    width: 16rem;
    margin-right: 1.5rem;
    border-radius: 2rem 2rem 0 0;
    background-color: $light-grey;
    padding: 1.5rem;
    padding-bottom: 0;
    position: relative;
}
.sidebarUnfoldInner {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}
.sideButton {
    color: $light-grey;
    cursor: pointer;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebarIcon {
    width: 1.6rem;
    height: 1.6rem;
    padding: 2px;
}
.iconText {
    font-size: 0.8rem;
}
.iconTextB {
    color: $custom-black;
    font-weight: 600;
}
.sideButtonChosen {
    position: relative;
    width: 100%;
    height: 11%;
    background-color: $light-grey;
}
.sideButtonChosen:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: radial-gradient(
        circle farthest-side at bottom left,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 99%,
        rgba(235, 235, 235, 1) 100%
    );
}
.sideButtonChosen::after {
    content: '';
    position: absolute;
    top: -1.2rem;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: radial-gradient(
        circle farthest-side at top left,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0) 99%,
        rgba(235, 235, 235, 1) 100%
    );
}
.unfoldItem {
    border: 1px solid $custom-black;
    width: 45%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 3% 2%;
}
.unfoldItem:hover {
    opacity: 0.6;
}
.sidebarCloseButton {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 900;
    color: $dark-grey;
    border-radius: 0 5px 5px 0;
    width: 0.9rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: $light-grey;
    position: absolute;
    right: -0.7rem;
    cursor: pointer;
}
// if chosen is the first one
.firstButton::after {
    content: '';
    height: 0;
}
.firstUnfold {
    border-radius: 0 2rem 0 0;
}
.lastButton::before {
    content: '';
    height: 0;
}
// specific nav
.resetFilterButton {
    font-size: 0.8rem;
    color: $custom-black;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.2rem 0;
    margin: 1rem auto 0 auto;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    width: 60%;
    cursor: pointer;
}

// media query
@media (max-width: 900px) {
    .textSizeInput {
        width: 30%;
    }
}

@media (max-width: 700px) {
}
