// color variants
$main-color: #282c34;
$sub-color: #e89a4f;
$assist-color-dark: #badada;
$assist-color-light: #dde6e8;
$light-grey: #ebebeb;
$dark-grey: #7f7e7e;
$custom-black: #555555;

$board-to-window-ratio: 90%;

* {
    // border: 1px solid red;
}

// basic layouts
body {
    height: 100vh;
}
.App {
    text-align: center;
    position: relative;
    height: 100vh;
    background-color: $dark-grey;
}
.mainBoard {
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: $light-grey;
    overflow: hidden;
}
.drawingArea {
    border: 1px solid black;
    position: absolute;
    box-shadow: 0 1px 2px 0px $dark-grey;
}
.viewRatio {
    color: white;
}

.ratioSelect {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

.canvas-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
